/** 暗黑主题 */
@use 'sass:map';

/* 样式变量 */
// Border
$border-color: () !default;
$border-color: map.merge(
  (
    '': #36363a
  ),
  $border-color
);

// Background
$bg-color: () !default;
$bg-color: map.merge(
  (
    '': #070709,
    'block': #2e3033,
    'section': #1f1f1f,
    'heavy': #202226,
    'accent': #2a2a2a
  ),
  $bg-color
);

// Text
$text-color: () !default;
$text-color: map.merge(
  (
    'muted': #a1a1aa
  ),
  $text-color
);

// Scrollbar
$scrollbar: () !default;
$scrollbar: map.merge(
  (
    'color': #37383a,
    'hover-color': #484a4c
  ),
  $scrollbar
);
