@use '../utils/function.scss' as *;

/* nprogress 进度条颜色配置 */
#nprogress .bar {
  background: getElVar('color-primary') !important;
}
#nprogress .spinner-icon {
  border-top-color: getElVar('color-primary') !important;
  border-left-color: getElVar('color-primary') !important;
}
#nprogress .peg {
  box-shadow:
    0 0 10px getElVar('color-primary'),
    0 0 5px getElVar('color-primary') !important;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: getCssVar('scrollbar', 'size');
  height: getCssVar('scrollbar', 'size');
}
::-webkit-scrollbar-thumb {
  background-color: getCssVar('scrollbar', 'color');
  border: getCssVar('scrollbar', 'padding') solid transparent;
  border-radius: getCssVar('scrollbar', 'radius');
  &:hover {
    background-color: getCssVar('scrollbar', 'hover-color');
  }
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: transparent;
}

/* components 样式 */
.king-link {
  @apply text-$el-color-primary hover:text-$el-color-primary-light-3 cursor-pointer outline-none;
}
