@use '@/desgin/utils/function.scss' as *;

/* Select */
.el-select {
  .el-select__wrapper {
    height: 100%;
  }
  &.el-select--large .el-select-dropdown__item {
    padding-left: 12px;
  }
  &.el-select--small .el-select-dropdown__item {
    padding-left: 6px;
  }
}
.el-select__popper {
  .el-select-dropdown__list {
    padding: 6px 4px !important;
    margin: 0 !important;
  }
  .el-select-dropdown__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: getElVar('border-radius', 'small');
    transition: all getCssVar('transition');
    & > span {
      flex: 1;
    }

    // item-margin
    & + .el-select-dropdown__item {
      margin-top: 4px;
    }

    // selected
    &.selected,
    &.is-selected {
      background: getElVar('color-primary', 'light-9');
      &:hover,
      &.hover,
      &.is-hovering {
        background: getElVar('color-primary', 'light-8');
      }
    }
  }
}

/* multiple tag */
.el-select__selected-item .el-tag__content {
  display: inline-flex;
  align-items: center;
}
.el-select .el-tag__content .el-select__tags-text {
  line-height: 1;
}

// 不能写死需要手动设置
.el-select .el-select__selection.is-near {
  // margin-left: calc(0px - 12px);
}
