@use '@/desgin/utils/function.scss' as *;

/* Link */
.el-link {
  transition: all getCssVar('transition');
}

/* Button */
.el-button {
  transition: all getCssVar('transition');
  & + .el-button {
    margin-left: 0;
  }
}

/* Input */
.el-input {
  .el-input__wrapper {
    background-color: getCssVar('bg-color', 'section');
  }
}

/* Select */
.el-select {
  .el-select__wrapper {
    background-color: getCssVar('bg-color', 'section');
  }
}

/* 
.el-form-item.is-error {
  .slider-captcha {
    &,
    &:hover {
      border-color: var(--el-color-danger);
    }
  }
}
*/

/* FormItem */
// .el-form-item {
//   .el-form-item__error {
//     @apply: text-[0.8rem];
//   }
// }

/* Custom */
// 表单组件宽度撑满
// .el-fluid {
//   box-sizing: border-box;
//   width: 100%;
//   &.el-select,
//   &.el-input-number,
//   &.el-date-editor,
//   &.el-date-editor.el-input,
//   &.el-date-editor.el-input__wrapper,
//   &.el-date-editor > .el-input__wrapper {
//     box-sizing: border-box;
//     width: 100%;
//   }

//   /* 日期选择 */
//   &.el-date-editor {
//     &.el-input__wrapper {
//       box-sizing: border-box;
//       width: 100%;
//     }
//     .el-range-input {
//       flex: 1;
//       width: 100%;
//     }
//     .el-range-separator {
//       flex: 0;
//     }
//     & > .el-input__icon {
//       flex-shrink: 0;
//     }
//   }

//   /* 数字输入框 */
//   &.el-input-number.is-controls-right .el-input__inner {
//     text-align: left;
//   }
// }
